<!-- ================= NAVBAR ================= -->
  <nav class="sticky top-0 left-0 w-full bg-white/90 backdrop-blur border-b border-slate-200 z-50">
    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
      <!-- Logo -->
      <div routerLink="/dashboard" class="cursor-pointer flex items-center gap-2 font-bold text-xl">
        <i class="fa-solid fa-list-check text-slate-900"></i>
        <span>Taskmaster</span>
      </div>

      <!-- Links -->
      <div #linksContainer class="transition-all duration-500 flex left-[-1000%] right-0 p-4 md:static   md:p-0 absolute w-full z-50 top-full bg-gray-100 md:bg-transparent md:w-fit   md:flex md:flex-row flex-col md:items-center gap-8 font-medium text-slate-700">
        <a routerLink="/dashboard" class="hover:text-slate-900 transition">Dashboard</a>
        <a routerLink="tasks" class="hover:text-slate-900 transition">Tasks</a>
        <a routerLink="reminders" class="hover:text-slate-900 transition">Reminders</a>
        <a routerLink="goals" class="hover:text-slate-900 transition">Goals</a>
        <div class="flex md:hidden items-center justify-start md:justify-center gap-2">
        <button (click)="logOut()"  class="md:block hover:bg-transparent border hover:border-slate-900 hover:text-slate-900 bg-slate-900 text-white px-6 py-2 cursor-pointer rounded-lg font-semibold hover:opacity-90 transition duration-500">
        Log Out
      </button>
        
      </div>
      </div>

      <!-- CTA Button -->
      <div class="flex items-center justify-center gap-2">
        <button (click)="logOut()"   class="hidden  md:block hover:bg-transparent border hover:border-slate-900 hover:text-slate-900 bg-slate-900 text-white px-6 py-2 cursor-pointer rounded-lg font-semibold hover:opacity-90 transition duration-500">
        Log Out
      </button>
        
      </div>

      <!-- Mobile Icon -->
      <button (click)="toggleNav()" class="md:hidden text-2xl cursor-pointer">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </nav>